<div class="toast-notification fixed top-0 right-0 m-4" *ngIf="message">
    <div class="bg-{{ type }}-100 border border-{{ type }}-400 text-{{ type }}-700 px-4 py-3 rounded relative" role="alert">
      {{ message }}
      <button class="absolute top-0 right-0 px-4 py-3" (click)="close()">
        <svg class="h-6 w-6 text-{{ type }}-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
  </div>