<div class="w-[100%] p-10 ">
    <ul class="flex flex-col w-full">
        <li class="relative flex flex-col gap-2 h-28" *ngFor="let orders of orderHistory">
            <div
                class="relative flex items-center gap-4 py-3 pl-4 pr-8 bg-white border shadow-lg rounded-xl border-blue-gray-50 shadow-blue-gray-900/5">
                <span class="relative z-[2] w-max flex-shrink-0 overflow-hidden rounded-full p-3"
                    [class.bg-red-600]="orders.status  === 'pending'"
                    [class.bg-green-400]="orders.status  === 'delivered'">
                </span>
                <div class="flex flex-col gap-1">
                    <ul class="flex flex-col w-full">
                        <li class="relative flex flex-col gap-2" *ngFor="let pizza of orders.pizzaItems">
                            <div>
                                <div class="flex flex-col gap-1">
                                    <h6
                                        class="block font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900">
                                        {{pizza.pizzaName}} - {{pizza.price}} ₹
                                    </h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700">
                        Address : {{orders.deliveryAddress}}
                    </p>
                </div>
                <div
                    class="block font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900 ml-auto">
                    Total Price - {{ orders.totalPrice }} ₹
                </div>
            </div>
        </li>
    </ul>
</div>